[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymupdf = "*"
pytest = "*"
pandas = "*"
pip = "*"
install = "*"
pyarrow = "*"
pdfreader = "*"
pypdf = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
